*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  font-size: large;
}
.container{
  text-align: center;
}
.navbar{
  position: fixed;
  width: 100vw;
  background-color: rgb(97, 97, 96);
  color:rgb(207, 207, 219);
  display: flex;
  justify-content:space-between;
  align-items: center;
  top: 0;
  
}

.navbar ul{
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;

}

.Link{
  text-decoration: none;
  padding: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}

.navbar li:hover{
  background-color: rgb(233, 227, 219);
 
}

.Link:hover{
  background-color: rgb(233, 227, 219);
  color: black;
}

.logo{
  font-size: 17px;
}

.UserAuthentication{

  display: flex;
  width: '90%';
  justify-content:space-around;
  margin: 35px auto;


}
.formField{
  margin : 10px;
}

.formInput{
  background: none;
  color: black;
  background-color: white;
  border:none;
  border-bottom: 1px solid black;
  font-size: 17px;
  padding: 10px;
  width: 100%;
  margin: 15px 0;


}

.btn{
  margin: 15px;
  width: auto;
  min-width: 150px;
  background-color: black;
  color: white;
  padding: 0px 30px 0px 30px;
  cursor:pointer;
  border:none;
  height: 45px;
  font-size: 20px;
  letter-spacing: 1px;

}

.cardContainer{
  
  width: 80vw;
  margin: auto;
  margin-top: 100px;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
