.cardContainer{
  
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 40px;
  }
  
  .cardContent{
  
    background: linear-gradient(to left, rgb(158, 61, 227) 0%, rgb(206, 35, 206) 100%);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
    color: aliceblue;
    border: 1px solid gray;
    transition: transform 0.2s ease-in-out;
    
    
  }
  
  .cardContent:hover{
    transform: scale(1.1);
  
  }